html,
body {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: 0;
    height: 100%;
    overflow: hidden;
}

#m1 circle {
    opacity: 0;
    animation: fade-in 0.5 forwards;
    animation-delay: calc(var(--index) * 80ms);
}

#m2 {
    transform-origin: center;
    animation: rotate-cw 0.5s forwards;
    animation-delay: 0.5s;
}

#m2 circle {
    opacity: 0;
    animation: fade-in 0.5s forwards;
    animation-delay: calc(calc(var(--index) * 100ms) + 500ms);
}

#icon {
    position: absolute;
    animation: spin 2s forwards alternate;
    animation-iteration-count: 2;
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

@keyframes fade-in {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes rotate-cw {
    from {
        transform: rotate(-30deg) translateY(10%);
    }
    to {
        transform: rotate(0deg);
    }
}